<ion-content style="background: #d83c3c;"[fullscreen]="true">
       
    
   <div id="bg" style="background: 	#c51198;">
    <div class="logo">
      <img style="border-radius: 10%;" src="./assets/lololologo.jpg">
    </div>
    <ion-card-header >
     
      <ion-card-title style="color: black;">welcome to the best restaurant</ion-card-title>
    </ion-card-header>
  <div class=" buttons">
    <ion-button  (click)="goToNextPage()"  id="btn1" shape="round"color="success">User</ion-button>
    <ion-button  (click)="goToNextPage2()" id="btn1" shape="round" color="warning"style="margin-left: -18%;" >Restaurant</ion-button>

    <!-- "this.router.navigate(['/login']);". -->
    
  
  </div>
  
    
   </div>
 
  
</ion-content>
